# Database
DATABASE_URL=sqlite+aiosqlite:///./data/powerjob.db

# Server
HOST=0.0.0.0
PORT=8000
DEBUG=True

# Paths
LOGS_DIR=./data/logs

# Scheduler
SCHEDULER_ENABLED=True

# Security
SECRET_KEY=36da6724-c2a8-4d6e-a4ad-b56406d67587
